@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-font-color-dark);
}

ul {
  list-style: none;
}

.top {
  border-bottom: 1px solid #e8e9eb;
  ;
}

.container {
  margin: 0 90px;
}

.nav-bar {
  margin-top: 25px;
  height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-box {
  flex: 1;
}

.logo-box img {
  width: 100%;
  max-width: 120px;
}

.menu {
  flex: 3;
  font-size: 1.5rem;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  padding: 0 25px;
}

.icons-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  height: 22px;
  padding: 0 5px;
}

/* middle section */
.product-wrapper {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
}

.product-wrapper>div {
  padding: 0 25px;
}

.picture {
  flex: 1;
  text-align: end;
}

.image-wrapper {
  width: 100%;
  position: relative;
}

.picture img {
  width: 55%;
}

.picture svg {
  width: 55%;
  position: absolute;
  right: 0;
}

.product-details {
  flex: 1;
  color: var(--body-font-color);
  font-size: 2rem;
  font-weight: 300;

}

.title {
  font-size: 3.5rem;
}

.price {
  padding-bottom: 25px;
}

.details h5 {
  padding-top: 35px;
  padding-bottom: 10px;
}

.details p {
  line-height: 3rem;
  font-size: 1.7rem;
}

.selection {
  display: flex;
}

.selection-wrapper {
  width: 30%;
  padding-bottom: 30px;
}

.selection-wrapper label {
  display: block;
}

.selection-wrapper select {
  width: 80%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
}