@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-font-color-dark);
}

ul {
  list-style: none;
}

.top {
  border-bottom: 1px solid #e8e9eb;
  ;
}

.container {
  margin: 0 90px;
}

/* Top Menu */

.nav-bar {
  margin-top: 25px;
  height: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-box {
  flex: 1;
}

.logo-box img {
  width: 100%;
  max-width: 120px;
}

.menu {
  flex: 4;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}

.menu-wrapper {
  flex: 3;
}


.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  padding: 0 25px;
}

.icons-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  height: 22px;
  padding: 0 5px;
}

.menu-toggle {
  display:none;
  font-size: 2.5rem;
}


/* middle section */
.product-wrapper {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
}

.product-wrapper>div {
  padding: 0 25px;
}

.picture {
  flex: 1;
  text-align: end;
}

.image-wrapper {
  width: 100%;
  position: relative;
}

.picture img {
  width: 65%;
}

.picture svg {
  width: 65%;
  position: absolute;
  right: 0;
  mix-blend-mode: hard-light;
  opacity: .6;
}

.cls-1 {
  fill: transparent;
}

.product-details {
  flex: 1;
  color: var(--body-font-color);
  font-size: 2rem;
  font-weight: 300;
}

.title {
  font-size: 3.5rem;
}

.price {
  padding-bottom: 25px;
}

.details h5 {
  padding-top: 35px;
  padding-bottom: 10px;
}

.details p {
  line-height: 3rem;
  font-size: 1.7rem;
}

.selection {
  display: flex;
}

.selection-wrapper {
  width: 60%;
  padding-bottom: 30px;
}

.selection-wrapper label {
  display: block;
}

.selection-wrapper select {
  width: 90%;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 5px;
}

@media screen and (max-width:1024px) {
  .container {
    margin: 0 30px;
  }

  .menu-toggle {
    display: inline;
    cursor: pointer;
  }

  .fa-times{
    display: none;
  }

  .open .fa-times{
    display: inline;
  }

  .open .fa-bars{
    display: none;
  }

  .nav-bar {
    margin-top: 25px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menu {
    flex-direction: column-reverse;
    z-index: 1300;
    position: absolute;
    width: 200px;
    top: 101px;
    right: -200px;
    height: 100%;
    background-color: rgba(194, 194, 194, .7);
    transition: all ease .5s;
  }

  .open .menu {
    right: 0px;
  }

  .menu-items {
    flex-direction: column;
    padding: 55px 0 0 25px;
    flex: none;
  }

  .item {
    padding: 0 0 20px 0;
  }

  .icons-list{
    flex: none;
    justify-content: left;
    padding: 20px 0 0 20px;
  }

  .picture img {
    width: 100%;
  }

  .picture svg {
    width: 100%;
  }

  .selection-wrapper {
    width: 80%;
  }
}

@media screen and (max-width:660px) {
  .product-wrapper {
    flex-direction: column;
  }

  .title {
    font-size: 3rem;
  }
}
